html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // font: inherit;
  // color: inherit;
  // text-align: inherit;
  // text-decoration: inherit;
  // vertical-align: inherit;
  // box-sizing: inherit;
  // background: transparent;
}

ul {
  list-style: none;
}

// img {
//   display: block;
//   width: 100%;
//   height: auto;
// }

// input[type="password"],
// input[type="email"],
// input[type="text"],
// input[type="submit"],
// textarea,
// button {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }
//
// button,
// input[type="submit"] {
//   cursor: pointer;
// }

/* Clearfix */

// .group:after {
//   content: "";
//   display: block;
//   clear: both;
//}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
