.main-footer{
  display: flex;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  width: 100%;
  align-content: center;
  justify-content: center;
  bottom: 0;
  position: fixed;
}

.audio-player{
  height: 48px;
}
