.scrolling-wrapper{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.box{
  flex: 0 0 auto;
}

.track-list-items{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.track-list-image{
  height: auto;
  width: auto;
  width: 172.97px;
  height: 172.97px;
  object-fit: cover;
  cursor: pointer;
}
.track-list-image:hover{
  mix-blend-mode: hard-light;
}

.track-list-title{
  text-decoration: none;
  font-size: 14px;
  width: 100%;
  line-height: 1.4;
}

.track-list-genre{
  font-weight: 100;
  color: #999;
}

// .art-tile{
//   position: relative;
//   top: 0;
//   left: 0;
// }

// .play-button-hover{
//   position: absolute;
// }
.play-button-hover:hover{
  background-image: image-url("orange_play.png");
  background-size: contain;
}

.pause-button-hover:hover{
  background-image: image-url("orange_pause.png");
  background-size: contain;
  background-repeat: no-repeat;
}
