/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
//CSS Reset
@import 'base/reset.scss';

//Core

//Components
@import "components/**/*";


body{
  background: #f2f2f2;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner{
  height: 454px;
  width: 1240px;
  object-fit: cover;
}



.main-container{
  // padding: 0 30px;
  margin: 0 auto;
  width: 1240px;
  background: white;
  height: 100%;
  min-height: 400vh;
  display: flex;
  flex-direction: column;

}
.main-body{
  position: relative;

}


.main-container-left{
  padding: 0 10px;
  margin: 0 330px 0 0;
  border-right: 1px solid #f2f2f2;
  max-width: 1079px;
  display: flex;
  background: white;

}


.info{
  margin: 0 20px;
}
.info>a{
  text-decoration: none;
  color: #999;
}
.info>a:hover{
  color:white;
}

.label{
  margin-left: 10px;
}
